footer(class='page-footer font-small elegant-color pt-4')
  div(class="container text-center text-md-left pt-0")
    div(class="row")
      div(class="col-md-4")
      div(class="col-md-4 d-flex align-items-center justify-content-center")
        p &copy Adrian Orta 2018
      div(class="col-md-4")
        ul(class="list-inline d-flex justify-content-between align-items-end")
          li(class="list-inline-item")
            i(class="fa fa-facebook-square fa-3x" aria-hidden="true") 
          li(class="list-inline-item") 
            i(class="fa fa-instagram fa-3x" aria-hidden="true") 
          li(class="list-inline-item") 
            i(class="fa fa-linkedin-square fa-3x" aria-hidden="true")
