<!-- PATTERN OVERLAY -->
<div id="overlay"></div>
<!-- MENUBAR RIGHT-->
<div id="menubar" class="right">
  <ul class="nav menu">
    <li class="active"><a href="#hero" class="link" data-toggle="tooltip" title="Home"></a></li>
    <li><a href="#portfolio" class="link" data-toggle="tooltip" title="Portfolio"></a></li>
    <li><a href="#about" class="link" data-toggle="tooltip" title="About"></a></li>
    <li><a href="#contact" class="link" data-toggle="tooltip" title="Contact"></a></li>
  </ul>
</div>

    
