div(class="parallax parallax-about" id="about")
  div(class="container")  
    h1(class="mb-5 text-center heading") About
    div(class="row")
      div(class="col-md-6 mb-3")
        div(class="about-text") 
          p 
            strong I’m an aspiring Full-Stack Developer, and I think most of the reason I've gone this route is because I have a drive and an unsatiable thirst for knowledge which has lead me to have a passion for dealing with all parts of a web application.
          p 
            strong  I'll be finishing my Bachelor's soon. I'm also a TechDegree Student at TeamTreehouse where I'm taking the Full-Stack route. Like most programmers I learn as I code, reading documentation, learning from other's solutions and there's always a little bit of trial and error.
          p 
            strong When I'm not coding you can find me taking photos, playing guitar, or spending time with my family.       
      div(class="col-md-6")
        div(class="card")
            <!--Card image-->
            div(class="view overlay")
                img(src="/images/code.jpeg" class="img-fluid" alt="")   
            div(class="card-body text-center")
              h4(class="card-title") 
                strong SKILLS
              ul(class="list-group")
                li(class="list-group-item") HTML/Pug
                li(class="list-group-item") CSS/Sass
                li(class="list-group-item") Javascript/jQuery/Node
                li(class="list-group-item") Git/Chrome Dev Tools/Heroku 
