div(class="parallax parallax-contact" id="contact")
  div(class="container pl-3 pr-3")    
    h1(class="mb-5 text-center heading-dark") Contact
    div(class="row")
      div(class="col-md-6 text-center")
        <!--Card-->
        div(class="card mb-3")
            <!--Card image-->
            div(class="view overlay")
                img(src="/images/me.jpg" class="img-fluid" alt="")   
            div(class="card-body" itemscope itemtype="http://schema.org/Person")
              h4(class="card-title" itemprop="http://schema.org/name") 
                strong Adrian Orta
              h5(class="success-text" itemprop="http://schema.org/jobTitle") 
                strong Web Developer
              p(class="card-text mb-0")
                i(class="fa fa-phone prefix mr-2")  
                span(class="black-text" itemprop="http://schema.org/telephone") 305-767-6647
                br
                a(href="/misc/AdriansResume.pdf" target="_blank" class="mt-3 btn btn-success") 
                  i(class="fa fa-file prefix mr-2") 
                  span Download Resume

      div(class="col-md-6")
        form(class="mb-3" method="post" action="mailto:adrianorta510@gmail.com?subject=&body=This%20will%20be%20replaced%20with%20MailGun")
          div(class="md-form")
            
            label(class="" for="subject") Subject:
            input(type="text" class="form-control" id="subject")
          div(class="md-form")            
            label(class="" for="message") Message:
            textarea(id="message" class="form-control md-textarea")
          button(type="submit" class="btn btn-info w-100 ml-0") 
            <i class="fa fa-send mr-1" aria-hidden="true"></i> Send
          
      
