div(class="parallax parallax-hero d-flex flex-column" id="hero")
  h1(class="white-text mt-5 mb-0 hero") ADRIAN ORTA
  div(class="side-kick") Web Developer
  i(class="fa fa-chevron-down text-center pb-5 mt-auto")
