div(class="parallax-2 w-100 h-100 d-flex flex-column align-items-center justify-content-center" id="top")
  h1(class="elegant-color white-text p-3 mb-0 mr-5") ADRIAN
  h1(class="elegant-color white-text p-3 mt-0 ml-5") ORTA
