div(class="parallax parallax-hero" id="hero")
  div(class="container d-flex flex-column align-items-center justify-content-center")
    h1(class="dark-grey-bkgrnd white-text p-3 mb-0 mr-5") ADRIAN
    h1(class="dark-grey-bkgrnd white-text p-3 mt-0 ml-5") ORTA
  div(class="d-flex justify-content-center arrow")
    i(class="fa fa-chevron-down")
