div(class="parallax parallax-portfolio" id="portfolio")
  div(class="container")  
    h1(class="text-center mb-5 heading") Portfolio
    div(class="row mt-5 reflect")
      div(class="col-md-4  left-card")
        div(class="card")
            <!--Card image-->
            div(class="view overlay")
                img(src="https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-4.jpg" class="img-fluid" alt="")   
            div(class="card-body")
              h4(class="card-title") 
                strong Twitter Interface
              h5
                strong Twitter API, JSON, Express
              p(class="card-text") Using the Twitter API and some AJAX calls, you too can grab ahold of your feed by displaying your most recent followers, messages, and tweets all in one easy to read interface.
              a(href="https://github.com/adrianorta/TwitterInterface" target="_blank" class="btn btn-portfolio") 
                strong VIEW
      div(class="col-md-4 portfolio-card primary-card")
        div(class="card")
            <!--Card image-->
            div(class="view overlay")
                img(src="https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-preview-1.jpg" class="img-fluid" alt="")    
            div(class="card-body")
              h4(class="card-title") 
                strong Employee Directory
              h5 
                strong Random User API, Flexbox
              p(class="card-text") Still using that old system that dates back to the 80s? Upgrade your view and spend less time looking at green text with a responsive layout that gives you more info at the click of a button. 
              a(href="https://github.com/adrianorta/EmployeeDirectory" target="_blank" class="btn btn-portfolio") 
                strong VIEW
      div(class="col-md-4 right-card")
        div(class="card")
            <!--Card image-->
            div(class="view overlay")
                img(src="https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-11.jpg" class="img-fluid" alt="")    
            div(class="card-body")
              h4(class="card-title") 
                strong Site Crawler
              h5 
                strong Node.js, Express, npm
              p(class="card-text") Ever wondered how job boards like indeed.com work? Go ahead and scrape your own site for relevant information right when you need it. It's fast, easy, and fun!
              a(href="https://github.com/adrianorta/ContentScraper" target="_blank" class="btn btn-portfolio") 
                strong VIEW
