div(class="container" id="portfolio")  
  h1(class="text-center mt-3 align-self-start") Projects
  div(class="row align-middle")
    div(class="col-md-4 mt-3 mb-3")
      div(class="card")
          <!--Card image-->
          div(class="view overlay")
              img(src="https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-4.jpg" class="img-fluid" alt="")
              a(href="#")
                  div(class="mask rgba-white-slight")    
          div(class="card-body")
            h4(class="card-title") 
              strong Project 1
            h5(class="light-blue-text") 
              strong Javascript
            p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            button(type="submit" class="btn btn-success") View on GitHub
    div(class="col-md-4 mt-3 mb-3")
      div(class="card")
          <!--Card image-->
          div(class="view overlay")
              img(src="https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-preview-1.jpg" class="img-fluid" alt="")
              a(href="#")
                  div(class="mask rgba-white-slight")    
          div(class="card-body")
            h4(class="card-title") 
              strong Project 2
            h5(class="light-blue-text") 
              strong Javascript
            p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            button(type="submit" class="btn btn-success") View on GitHub
    div(class="col-md-4 mt-3 mb-3")
      div(class="card")
          <!--Card image-->
          div(class="view overlay")
              img(src="https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-11.jpg" class="img-fluid" alt="")
              a(href="#")
                  div(class="mask rgba-white-slight")    
          div(class="card-body")
            h4(class="card-title") 
              strong Project 3
            h5(class="light-blue-text") 
              strong Javascript
            p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            button(type="submit" class="btn btn-success") View on GitHub
div(class="parallax w-100 h-25")
